@model IEnumerable<StudentModel>
<div class="row">
    <div class="col-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for Student" id="studentTextField" />
            <button class="btn btn-primary" onclick="SearchStudent()">Search</button>
        </div>
    </div>
    <div class="col-3">
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="printdropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Print Grade
                </button>
                <div class="dropdown-menu" aria-labelledby="printdropdownmenu">
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('Pre-K')">Pre-K</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('Kindergarden')">Kindergarden</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('1st')">1st</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('2nd')">2nd</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('3rd')">3rd</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('4th')">4th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('5th')">5th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('6th')">6th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('7th')">7th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('7th')">8th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('9th')">9th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('10th')">10th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('11th')">11th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('12th')">12th</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="downloaddropdownmeny" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download Grade
                </button>
                <div class="dropdown-menu" aria-labelledby="downloaddropdownmeny">
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('Pre-K')">Pre-K</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('Kindergarden')">Kindergarden</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('1st')">1st</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('2nd')">2nd</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('3rd')">3rd</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('4th')">4th</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('5th')">5th</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('6th')">6th</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('7th')">7th</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('8th')">8th</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('9th')">9th</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('10th')">10th</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('11th')">11th</button>
                    <button class="dropdown-item" type="button" onclick="DownloadGradeLevel('12th')">12th</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        
    </div>
    
</div>
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QrCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GradeLevel)
                    <i class="bi bi-sort-up"></i>
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QrCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GradeLevel)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            @using (Html.BeginForm("SaveID", "Admin", FormMethod.Post))
                            {
                                <div>
                                    <button type="submit" class="btn btn-success" name="id" value="@item.ID"><i class='fa fa-file'>Download</i></button>
                                </div>
                            }
                        }
                        else
                        {
                            @if (item.IdRequestPrinted)
                            {
                                <div>
                                    <button type="submit" class="btn btn-success" name="id" onclick="RequestIdPrint(@item.ID, this)"><i class='fa fa-file'>Request Print</i></button>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <button type="submit" class="btn btn-danger" disabled name="id" onclick="RequestIdPrint(@item.ID, this)"><i class='fa fa-file'>Request Print</i></button>
                                </div>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}