@model IEnumerable<StudentModel>

<!--Edit Student Modal-->
<div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editStudentForm" method="post" asp-controller="Student" asp-action="SaveStudentEdits">
                <div class="modal-header">
                    <h5 class="modal-title" id="editStudentModalLabel">Edit Student</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="editStudentModalBody">


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit" onclick="SubmitStudentEdits(this.parentElement, event)">Save Student</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Change this button group row to a Navbar in future updates-->
<div class="row">
    <div class="col-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for Student" id="studentTextField" onkeypress="if (event.keyCode == 13) SearchStudent()"/>
            <button class="btn btn-primary" onclick="SearchStudent()" id="studentSearchButton">Search</button>
        </div>
    </div>
    <div class="col-3">
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="printdropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Print Grade Ids
                </button>
                <div class="dropdown-menu" aria-labelledby="printdropdownmenu">
                    <button class="dropdown-item" type="button" name="grade" value="PK">Pre-K</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('KG')">Kindergarden</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('01')">1st</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('02')">2nd</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('03')">3rd</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('04')">4th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('05')">5th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('06')">6th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('07')">7th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('08')">8th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('09')">9th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('10')">10th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('11')">11th</button>
                    <button class="dropdown-item" type="button" onclick="PrintGradeLevel('12')">12th</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="downloaddropdownmeny" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download Grade Ids
                </button>
                <div class="dropdown-menu" aria-labelledby="downloaddropdownmeny">
                    @using (Html.BeginForm("DownloadIdsByGradeLevel", "Admin", FormMethod.Post))
                    {
                        <button class="dropdown-item" type="submit" name="grade" value="PK">PK</button>
                        <button class="dropdown-item" type="submit" name="grade" value="KG">KG</button>
                        <button class="dropdown-item" type="submit" name="grade" value="01">1st</button>
                        <button class="dropdown-item" type="submit" name="grade" value="02">2nd</button>
                        <button class="dropdown-item" type="submit" name="grade" value="03">3rd</button>
                        <button class="dropdown-item" type="submit" name="grade" value="04">4th</button>
                        <button class="dropdown-item" type="submit" name="grade" value="05">5th</button>
                        <button class="dropdown-item" type="submit" name="grade" value="06">6th</button>
                        <button class="dropdown-item" type="submit" name="grade" value="07">7th</button>
                        <button class="dropdown-item" type="submit" name="grade" value="08">8th</button>
                        <button class="dropdown-item" type="submit" name="grade" value="09">9th</button>
                        <button class="dropdown-item" type="submit" name="grade" value="10">10th</button>
                        <button class="dropdown-item" type="submit" name="grade" value="11">11th</button>
                        <button class="dropdown-item" type="submit" name="grade" value="12">12th</button>
                    }
                </div>
            </div>
            <div>
                @using (Html.BeginForm("DownloadIdsByHomeroom", "Admin", FormMethod.Post))
                {
                    <div>
                        <button type="submit" class="btn btn-primary">Download Ids By Homeroom</button>
                    </div>
                }
            </div>
            <div>
                @using (Html.BeginForm("DownloadQrsByHomeroom", "Admin", FormMethod.Post))
                {
                    <div>
                        <button type="submit" class="btn btn-primary">Download Qr ByHomerooms</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Student ID:
                    </th>
                    <th>
                        Last Name:
                    </th>
                    <th>
                        First Name:
                    </th>
                    <th>
                        Email:
                    </th>
                    <th>
                        QR Code:
                    </th>
                    <th>
                        ID Photo:
                    </th>
                    <th>
                        Homeroom Teacher:
                    </th>
                    <th>
                        Grade Level:
                        <i class="bi bi-sort-up"></i>
                    </th>
                    <th>
                        Download ID:
                    </th>
                    <th>
                        Download Qr:
                    </th>
                    <th>
                        Edit Student
                    </th>
                    <th>
                        Take Photo
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QrCode)
                        </td>
                        <td>
                            @if (item.IdPicPath != null)
                            {
                                <p>Uploaded</p>
                            }
                            else
                            {
                                <p>N/A</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HomeRoomTeacher)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GradeLevel)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                @using (Html.BeginForm("SaveID", "Admin", FormMethod.Post))
                                {
                                    @if (item.IdPicPath == null)
                                    {
                                        <div>
                                            <button type="submit" class="btn btn-success" name="id" value="@item.ID" disabled><i class='fa fa-file'>Download ID</i></button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <button type="submit" class="btn btn-success" name="id" value="@item.ID"><i class='fa fa-file'>Download ID</i></button>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                @if (item.IdRequestPrinted)
                                {
                                    <div>
                                        <button type="submit" class="btn btn-success" name="id" onclick="RequestIdPrint(@item.ID, this)"><i class='fa fa-file'>Request Print</i></button>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <button type="submit" class="btn btn-danger" disabled name="id" onclick="RequestIdPrint(@item.ID, this)"><i class='fa fa-file'>Request Print</i></button>
                                    </div>
                                }
                            }
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                @using (Html.BeginForm("DownloadQrCode", "Admin", FormMethod.Post))
                                {
                                    @if (item.QrCode == null)
                                    {
                                        <div>
                                            <button type="submit" class="btn btn-success" name="id" value="@item.ID" disabled><i class='fa fa-file'>Download QR</i></button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <button type="submit" class="btn btn-success" name="id" value="@item.ID" disabled><i class='fa fa-file'>Download QR</i></button>
                                        </div>
                                    }
                                }
                            }
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <div>
                                    <button type="submit" class="btn btn-success" name="id" onclick="EditStudent(@item.ID)"><i class='fa fa-file'>Edit</i></button>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <button type="submit" class="btn btn-success" name="id" onclick="EditStudent(@item.ID)" disabled><i class='fa fa-file'>Edit</i></button>
                                </div>
                            }
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <div>
                                    <button type="submit" class="btn btn-success" name="id" onclick="TakePhoto(@item.ID, this)"><i class='fa fa-file'>Take Photo</i></button>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <button type="submit" class="btn btn-success" name="id" onclick="TakePhoto(@item.ID, this)" disabled><i class='fa fa-file'>Take Photo</i></button>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
</div>


