
@model Classes
@{
    ViewData["Title"] = "Roster Data";
}

<!--Show Class Details and action Modal-->
<!--------------------------------------------------------------------------------->
<div class="modal fade" id="viewClassUsersModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modalClassHeading"></h2>
            </div>
            <div class="modal-body">
                <table id="classUsersModalDataTable" class="table table-hover">
                    <thead class="custom-thead">
                        <tr>
                            <th>
                                User Source Id
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                Identifier
                            </th>
                            <th>
                                Email
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("DownloadStudentId", "Admin", FormMethod.Post))
                {
                    <button id="modalIdBtn" name="sourcedId" type="submit" class="btn student-modal-btn">Download Id</button>
                }
                @using (Html.BeginForm("DownloadStudentQrCode", "Admin", FormMethod.Post))
                {
                    <button id="modalQrBtn" name="sourcedId" type="submit" class="btn student-modal-btn">Download Qr</button>
                }
                <button class="btn student-modal-btn" onclick="ExitStudentModal()">Exit</button>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------->

<!--Classes Table HTML-->
<!--------------------------------------------------------------------------------->
<table id="classesDataTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(mode => mode.ClassSourcedId)
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.Status)
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.DateLastModified)
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.Title)
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.ClassCode)
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.ClassType)
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.Location)
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.Course.CourseSourcedId)
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.School)
            </th>
            <th>
                @Html.DisplayNameFor(mode => mode.School.OrgSourcedId)
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!--------------------------------------------------------------------------------->
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.bootstrap4.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#classesDataTable').dataTable({
                "processing": true,
                "paging": true,
                "autoWidth": false,
                "columnDefs": [{
                    "targets": '_all',
                    "defaultContent": ""
                }],
                "ajax": {
                    "url": "/RosterData/GetClasses",
                    "type": "get"
                },
                "columns":[
                    {"data": "classSourcedId", "name": "Class Sourced Id", "autoWidth": true},
                    {"data": "status", "name": "Status", "autoWidth": true},
                    {"data": "dateLastModified", "name": "Last Modified", "autoWidth": true},
                    {"data": "title", "name": "Title", "autoWidth": true},
                    {"data": "classCode", "name": "Class Code", "autoWidth": true},
                    {"data": "classType", "name": "Class Type", "autoWidth": true},
                    {"data": "location", "name": "Location", "autoWidth": true},
                    {"data": "course.courseSourcedId", "name": "Course Sourced Id", "autoWidth": true},
                    {"data": "school.name", "name": "School", "autoWidth": true},
                    {"data": "school.sourcedId", "name": "Org Sourced Id", "autoWidth": true},
                ]
            });
            var table = $('#classesDataTable').DataTable();

            $('#classesDataTable tbody').on('click', 'tr', function () {
            var data = table.row( this ).data();
            console.log(data);
            GetClassUsers(data['classSourcedId']);
            });
        });
        
        function GetClassUsers(classSourcedId){
            $('#classUsersModalDataTable').dataTable({
                "processing": true,
                "destroy": true,
                "paging": true,
                "autoWidth": false,
                
                "columnDefs": [{
                    "targets": '_all',
                    "defaultContent": ""
                }],
                "ajax": {
                    "url": "/RosterData/GetClassUsers",
                    "dataSrc": "Data",
                    "type": "get",
                    "data": function (d){
                        d.classSourcedId = classSourcedId;
                    }
                },
                "columns":[
                    {"data": "sourcedId", "name": "User Sourced Id", "autoWidth": true},
                    {"data": "status", "name": "Status", "autoWidth": true},
                    {"data": "givenName", "name": "First Name", "autoWidth": true},
                    {"data": "familyName", "name": "Last Name", "autoWidth": true},
                    {"data": "role", "name": "Role", "autoWidth": true},
                    {"data": "identifier", "name": "Identifier", "autoWidth": true},
                    {"data": "email", "name": "Email", "autoWidth": true},
                ]
            });
             $('#viewClassUsersModal').modal('show');
        }
 
    function GetClassUsersSuccess(data){
        console.log(data);
        $('#classUsersModalDataTable').dataTable({
        "processing": true,
        "paging": true,
        "autoWidth": false,
        "columns":[
            {"data": "sourcedId", "name": "User Sourced Id", "autoWidth": true},
            {"data": "status", "name": "Status", "autoWidth": true},
            {"data": "givenName", "name": "First Name", "autoWidth": true},
            {"data": "familyName", "name": "Last Name", "autoWidth": true},
            {"data": "role", "name": "Role", "autoWidth": true},
            {"data": "identifier", "name": "Identifier", "autoWidth": true},
            {"data": "email", "name": "Email", "autoWidth": true},

        ]
        });
        var table = $('#classUsersModalDataTable').DataTable();
        $('#viewClassUsersModal').modal('show');
    }
    </script>
}