@model Enrollments
@{
    ViewData["Title"] = "Roster Data";
}
<table id="enrollmentsTable"class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(mode => mode.EnrollmentSourcedId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.DateLastModified)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.UserSourcedId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.ClassSourcedId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.OrgSourcedId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.Role)
                        </th>
                         <th>
                            @Html.DisplayNameFor(mode => mode.Primary)
                        </th>
                         <th>
                            @Html.DisplayNameFor(mode => mode.BeginDate)
                        </th>
                         <th>
                            @Html.DisplayNameFor(mode => mode.EndDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.bootstrap4.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#enrollmentsTable').dataTable({
                "processing": true,
                "paging": true,
                "autoWidth": false,
                "ajax": {
                    "url": "/RosterData/GetEnrollments",
                    "type": "get"
                },
                "columns":[
                    {"data": "enrollmentSourcedId", "name": "Enrollment Sourced Id", "autoWidth": true},
                    {"data": "status", "name": "Status", "autoWidth": true},
                    {"data": "dateLastModified", "name": "Last Modified", "autoWidth": true},
                    {"data": "userSourcedId", "name": "User Sourced Id", "autoWidth": true},
                    {"data": "classSourcedId", "name": "Class Sourced Id", "autoWidth": true},
                    {"data": "orgSourcedId", "name": "Org Sourced Id", "autoWidth": true},
                    {"data": "role", "name": "Role", "autoWidth": true},
                    {"data": "primary", "name": "Primary", "autoWidth": true},
                    {"data": "beginDate", "name": "Begin Date", "autoWidth": true},
                    {"data": "endDate", "name": "End Date", "autoWidth": true},
                ]
            });
        });
    </script>
}