@model AcademicSessions
@{
    ViewData["Title"] = "Roster Data";
}
<table id="sessionsTable" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(mode => mode.SessionSourcedId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.DateLastModified)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.Parent)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.Parent_SourcedId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(mode => mode.SchoolYear)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
@section scripts{
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.bootstrap4.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#sessionsTable').dataTable({
                "processing": true,
                "paging": true,
                "autoWidth": false,
                "ajax": {
                    "url": "/RosterData/GetSessions",
                    "type": "get"
                },
                "columns":[
                    {"data": "sessionSourcedId", "name": "Session Sourced Id", "autoWidth": true},
                    {"data": "status", "name": "Status", "autoWidth": true},
                    {"data": "dateLastModified", "name": "Last Modified", "autoWidth": true},
                    {"data": "title", "name": "Title", "autoWidth": true},
                    {"data": "type", "name": "Type", "autoWidth": true},
                    {"data": "startDate", "name": "Start Date", "autoWidth": true},
                    {"data": "endDate", "name": "End Date", "autoWidth": true},
                    {"data": "parent", "name": "Parent", "autoWidth": true},
                    {"data": "parent_SourcedId", "name": "Parent Sourced Id", "autoWidth": true},
                    {"data": "schoolYear", "name": "School Year", "autoWidth": true},
                ]
            });
        });
    </script>
}